<h1 class="armory">GenQuest Armory</h1>

<div class="search-region">
    <form action="/characters" method="POST">
        <%= text_field_tag 'q', params[:q] %>
        <%= button_tag 'Search', type: 'submit' %>
    </form>

    <form action="/characters" method="POST">
        <%= button_tag 'Clear', type: 'submit' %>
    </form>
</div>

<%- if @characters.size > 0 %>

<% @characters.each do |character| %>
<article class="character-details">

    <div class="section">
        <%= image_tag character[:avatar], alt: character[:name], class: 'thumb' %>
    </div>

    <div class="section">
        <dl>
            <dt>Name:</dt>
            <dd><%= character[:name] %></dd>
            <dt>Level:</dt>
            <dd><%= character[:level] %></dd>
        </dl>
    </div>

    <div class="section">
        <dl>
            <dt>Equipment:</dt>
            <dd>
                <ul>
                    <% character[:equipment].each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                </ul>
            </dd>
        </dl>
    </div>
</article>
<% end %>

<% else %>
    No character names match your search, try again, 
    or <a href="">Click here</a> to clear it.
<% end %>

