<%= render 'search_form' %>

<article class="search-results">

<%- if @characters.size > 0 %>

<h3>Results:</h3>
<section class="list-group">
    <% @characters.each do |character| %>
        <a class="list-group-item" ng-controller="DescriptionController"
                href="/characters/<%= character.id %>"
                popover="{{characterDescription}}"
                popover-placement="right"
                popover-trigger="mouseenter"
                popover-append-to-body="true"
                popover-popup-delay="300"
                popover-title="<%= character.name %> Description"
                ng-mouseover="retrieveCharacterDesc(<%= character.id %>)">
            <%= character.name %>
        </a>
    <% end %>
</section>

<% else %>
    No character names match your search.
<% end %>

</article>
