<%= link_to '<-- Search again', characters_path %>

<article class="character-details">

    <div class="section">
        <%= image_tag @character[:avatar], alt: @character[:name], class: 'thumb' %>
    </div>

    <div class="section">
        <dl>
            <dt>Name:</dt>
            <dd><%= @character[:name] %></dd>
            <dt>Level:</dt>
            <dd><%= @character[:level] %></dd>
        </dl>
    </div>

    <div class="section">
        <dl>
            <dt>Equipment:</dt>
            <dd>
                <ul>
                    <% @character[:equipment].each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                </ul>
            </dd>
        </dl>
    </div>
</article>
